.Header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#siteName{
  font-family: 'Cabin', sans-serif;
  text-align: right;
  font-size: 2rem;
  margin-top:0.5rem;
}

.tabs {
  display: flex;

}

.tab {
  margin-top:1rem;
  margin-right:1rem;
}

.tab:hover{
  cursor: pointer;
}

#navRight{
  display: flex;
}

#dia{
  width: 2rem;
  height: 2rem;
}