.Report{
  margin-top: 4rem;
}

.report-line{
  font-size: 1.2rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}


.diamond {
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  transform: rotate(45deg);
}